$black: #000000;
$white: #ffffff;
$background: #EDEAEA;
$redtext: #E63D1A;
$colortext: #383838;
$coloragency: #2E2D2C;
$colorapp: #f5f5f5;
$input: #d9d9d9;
$placeholder: #909090;
$buttonactive: #8e8e8e;
$grayactive: #676869;
$redactive: #F36446;
$line: #dadada;
$clients: #939191;
$dots: rgba(#B8B7B7, .4) ;


// Breakpoint

$desktop-bp-2200: 2200px;
$desktop-bp-1280: 1280px;
$desktop-bp-1200: 1200px;
$desktop-bp-992: 992px;
$desktop-bp-850: 850px;
$tablets-bp-768: 768px;
$mobile-bp-660: 660px;
$mobile-bp-576: 576px;
$mobile-bp-480: 480px;
$mobile-bp-380: 380px;
$mobile-bp-375: 375px;